# Entorno virtual
venv/
env/

# Archivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Configuración de VSCode
.vscode/

# Archivos de migración si no quieres incluirlos
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Archivos de prueba o dump de datos
*.json
